@media only screen and (max-width:1366px) {
    .search input {
        width: 400px;
    }
}

@media only screen and (max-width:912px) {
    .links {
        padding: 10px;
    }
    .search input {
        width: 300px;
    }
}

@media only screen and (max-width:766px) {
    .links {
        display: none;
        width: 500px;
        height: 400px;
        background-color: var(--color-white);
        z-index: 11;
    }
    .links {
        position: absolute;
        margin: 90px 0 0 0;
        box-shadow: 5px 5px 5px rgba(159, 9, 79, .5);
    }
    .links a {
        font-size: 25px;
    }
    #menu-bars {
        display: block;
        font-size: 50px;
        margin: auto;
    }
    .site-id img {
        width: 150px;
    }
    .site-id {
        margin: auto;
    }
    .search-area {
        display: block;
        height: auto;
        text-align: center;
        padding: 10px;
    }
    .cart {
        margin: auto;
    }
    .dropdown-cat {
        margin: auto;
    }
    .dropdown-cat #category {
        margin: 0 0 0px 0;
        width: 400px;
        height: 25px;
    }
    .search {
        margin: 20px;
    }
}

@media only screen and (max-width:499px) {
    .dropdown-cat #category {
        width: auto;
    }
    .search input {
        width: auto;
    }
    .search button {
        width: auto;
    }
}