@media only screen and (max-width:1366px) {
    .search input {
        width: 400px;
    }
    .category-list {
        margin: -18px 0 0 220PX;
    }
}

@media only screen and (max-width:912px) {
    .links {
        padding: 10px;
    }
    .search input {
        width: 300px;
    }
    .pro-list-display img {
        width: 150px;
        cursor: pointer;
    }
    .products-display {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    .top-foot {
        flex-wrap: wrap;
    }
    .sign-in-area {
        margin-bottom: 200px;
    }
}

@media only screen and (max-width:766px) {
    .links {
        display: none;
        width: 500px;
        height: 450px;
        background-color: var(--color-white);
        z-index: 11;
    }
    .links {
        position: absolute;
        margin: 90px 0 0 0;
        box-shadow: 5px 5px 5px rgba(159, 9, 79, .5);
    }
    .links a {
        font-size: 25px;
    }
    #menu-bars {
        display: block;
        font-size: 50px;
        margin: auto;
        cursor: pointer;
    }
    .site-id img {
        width: 150px;
    }
    .site-id {
        margin: auto;
    }
    .search-area {
        display: block;
        height: auto;
        text-align: center;
        padding: 10px;
    }
    .cart {
        margin: auto;
    }
    .dropdown-cat {
        margin: auto;
    }
    .dropdown-cat #category {
        margin: 0 0 0px 0;
        width: 400px;
        height: 25px;
    }
    .search {
        margin: 20px;
    }
    .car-models {
        display: none;
    }
    .slide-area {
        display: block;
    }
    .head-products {
        width: auto;
        margin-top: 30px;
    }
    .slideshow-container {
        margin-top: 20px;
    }
    .mySlides img {
        width: 100%;
        height: auto;
        margin: 0;
    }
    /*login*/
    .form-sign-in {
        width: auto;
        margin: 20px;
        margin-top: 150px;
    }
    #email,
    #password {
        width: -webkit-fill-available;
    }
    .sign-in-area {
        margin-bottom: 250px;
    }
    /*contact*/
    .contact-area {
        display: block;
    }
    .contact-details {
        margin: auto;
        width: fit-content;
    }
    .contact-text-info {
        width: auto;
        margin: 20px;
    }
    #contact-name,
    #contact-email,
    #contact-message {
        width: -webkit-fill-available;
    }
    #btn {
        width: auto;
    }
}

@media only screen and (max-width:576px) {
    .dropdown-cat #category {
        width: auto;
    }
    .search input {
        width: auto;
    }
    .search button {
        width: auto;
    }
    .products-display {
        text-align: center;
    }
    .mySlides img {
        width: 100%;
        height: auto;
        margin: 0;
    }
    .category-list {
        margin: -128px 0 0 140PX;
    }
}