.navbar {
    width: 100%;
    height: 70px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 10px;
}

.site-id img {
    width: 200px;
    margin: 5px;
}

.links {
    display: flex;
}

.links li {
    list-style: none;
    padding: 20px;
    margin: 0;
}

.links a {
    text-decoration: none;
    color: #111;
}

.links a:hover {
    color: rgb(26, 23, 202);
}

.links a:active {
    color: rgb(26, 23, 202);
}

#menu-bars {
    display: none;
}

hr {
    border: 2px solid var( --color-border);
}

.search-area {
    width: 100%;
    height: 70px;
    background-color: var( --color-frame);
    margin-top: -6px;
    align-items: center;
    justify-content: center;
    text-decoration: center;
}

.search-area {
    display: flex;
}

.dropdown-cat {
    margin-right: 20px;
}

.dropdown-cat input {
    padding: 10px;
    border: #888888;
    border-radius: 5px;
}

.dropdown-cat i {
    position: relative;
    left: -25px;
    color: #888888;
    cursor: pointer;
}

.category-list {
    display: none;
    background-color: #fffefe;
    border-radius: 5px;
    height: auto;
    width: fit-content;
    margin: -18px 0 0 455px;
    border: 1px solid #888888;
    position: absolute;
}

.category-list li {
    list-style: none;
}

.category-list a {
    text-decoration: none;
    padding: 10px;
    line-height: 50px;
    color: var(--color-black);
    font-size: 18px;
}

.category-list a:hover {
    background-color: rgb(43, 125, 239);
    color: var(--color-white);
}

.search input {
    width: 500px;
    padding: 13px;
    border: none;
}

.search button {
    width: 120px;
    padding: 13px;
    margin-left: -10px;
    border: none;
    background-color: rgb(43, 125, 239);
    color: var(--color-white);
    cursor: pointer;
}

.cart {
    display: flex;
    margin: 10px;
    border: 2px solid var(--color-white);
    width: 100px;
    height: 37px;
    text-align: center;
    justify-content: center;
    padding: -1px;
    cursor: pointer;
}

.cart i {
    margin: 10px 0 0 5px;
    color: var(--color-white);
}

.cart p {
    color: var(--color-white);
    margin: 10px 0 0 5px;
}

.page-head {
    display: flex;
    justify-content: space-around;
}


/*header*/

.page-head {
    margin-top: 10px;
    height: auto;
    width: fit-content;
    margin: auto;
}

.car-models {
    width: 350px;
    height: auto;
    box-shadow: 5px 10px 15px rgb(197, 131, 31, .5);
    justify-content: center;
    margin-right: 20px;
}

.cat-head h2 {
    background: var(--color-frame);
    width: fit-content;
    text-align: center;
    padding: 20px;
    margin: auto;
    color: var(--color-white);
    margin-top: 20px;
    font-size: 25px;
}

.cat-list {
    width: fit-content;
    margin: auto;
    padding: 20px;
}

.cat-list li {
    padding: 10px;
    color: var(--color-border);
}

.cat-list a {
    text-decoration: none;
    font-size: 22px;
    font-weight: 800;
    color: rgb(24, 95, 227);
    font-family: 'Times New Roman', Times, serif;
}

.cat-list a:hover {
    color: #111;
}


/*slider*/

.slide-area {
    display: flex;
}

* {
    box-sizing: border-box
}

body {
    font-family: Verdana, sans-serif;
    margin: 0
}

.mySlides {
    display: none
}

.mySlides img {
    width: auto;
    height: 600px;
    box-shadow: 10px 20px 30px rgb(white, #111, white);
}

img {
    vertical-align: middle;
}


/* Slideshow container */

.slideshow-container {
    max-width: 600px;
    height: auto;
    position: relative;
    margin: auto;
    box-shadow: 10px 10px 20px rgb(0 0 0 / 50%);
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Caption text */

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.slide-dots {
    position: absolute;
    margin-top: -25px;
    width: -webkit-fill-available;
}

.active,
.dot:hover {
    background-color: #717171;
}


/* Fading animation */

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

.head-products {
    width: 300px;
    height: auto;
    box-shadow: 5px 10px 15px rgba(204, 22, 77, 0.5);
    margin-left: 20px;
    text-align: center;
}

.pro-tire img,
.pro-rim img,
.pro-battery img {
    width: 150px;
}

.pro-tire {
    width: 250px;
    border: 2px solid var(--color-border);
    margin: auto;
    margin-top: 20px;
}

.pro-rim {
    width: 250px;
    border: 2px solid var(--color-border);
    margin: auto;
    margin-top: 20px;
}

.pro-battery {
    width: 250px;
    border: 2px solid var(--color-border);
    margin: auto;
    margin-top: 20px;
}

.head-products h3 {
    color: var(--color-frame);
}


/*product display*/

.pro-list-display img {
    width: 250px;
    cursor: pointer;
}

.pro-list-display p {
    text-align: center;
    color: rgb(26, 146, 231);
    cursor: pointer;
}

.pro-list-display p:hover {
    color: rgb(38, 38, 39);
}

.products-area {
    width: auto;
    margin-top: 10px;
    box-shadow: 15px 5px 10px 10px rgba(221, 169, 27, .5);
    margin-bottom: 15px
}

.products-display {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 70%;
    margin: auto;
}


/*footer*/

.footer {
    background-color: var(--color-frame);
}

.foot-area {
    width: 100%;
    height: auto;
}

.foot-area p {
    color: var(--color-white);
}

.foot-area h2 {
    color: var(--color-white);
}

.top-foot {
    display: flex;
    width: auto;
    margin: auto;
    padding: 50px;
    justify-content: center;
    gap: 110px;
}

.foot1 {
    width: fit-content;
}

.foot2 {
    width: fit-content;
}

.foot2 li {
    color: var(--color-white);
    padding: 7px;
}

.foot2 a {
    text-decoration: none;
    color: rgb(22, 148, 231);
}

.foot2 a:hover {
    color: rgb(43, 54, 61);
}

.foot3 {
    width: fit-content;
    text-align: left;
}

.foot4 {
    width: fit-content;
    text-align: center;
}

.foot1 img {
    width: 200px;
}

.bottom-foot {
    padding: 20px;
    text-align: center;
}

.bottom-foot p {
    font-size: 12px;
    color: var(--color-white);
}

.bottom-foot i {
    font-size: 15px;
    color: var(--color-white);
    margin-left: 10px;
}

.fa-facebook-f {
    padding: 7px;
    background-color: rgb(22, 148, 231);
    opacity: 1;
    transition: 0.3s;
    width: 30px;
}

.fa-twitter {
    padding: 7px;
    background-color: rgb(61, 163, 231);
    opacity: 1;
    transition: 0.3s;
    width: 30px;
}

.fa-instagram {
    padding: 7px;
    background-color: rgb(235, 42, 42);
    opacity: 1;
    transition: 0.3s;
    width: 30px;
}

.fa-whatsapp {
    padding: 7px;
    background-color: rgb(29, 231, 22);
    width: 30px;
    opacity: 1;
    transition: 0.3s;
}

.fa-facebook-f:hover,
.fa-twitter:hover,
.fa-instagram:hover,
.fa-whatsapp:hover {
    opacity: 0.6;
}